{% extends 'layout.html' %}

{% block app_cache %}
{% if isProd %}
manifest="/app.appcache"
{% else %}
data-mode="development"
{% endif %}
{% endblock %}

{% block body %}
<div data-role="page" class="ui-responsive-panel ui-page" id="app-page">

  <div id="sidebar"></div>

  <div id="menu" style="position: fixed; top: 20px; left: 20px; display: none;"><img src="/images/menu.svg" alt=""></div>

  <div data-role="content" id="app-container"> 

  </div><!-- /content -->

</div><!-- /page -->

<!-- Dialogs and toasts sections -->
<div id="dialogs" style="display: none;">

<div data-role="popup" id="dialogPopup" data-dismissible="false" data-theme="none" class="app-card-dialog ui-corner-all ui-shadow" data-position-to="window" data-transition="pop">
	<div class="app-card-container">
    <span class="title">Dialogo</span>
    <p>
    	<small class="text">This action cannot be undone.</small>
    </p>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a href="javascript:;" data-role="none" class="no_dialog app-button">No</a></div>
    <div class="ui-block-b"><a href="javascript:;" data-role="none" class="yes_dialog app-button">Si</a></div>
  </fieldset>
</div>

<div data-role="popup" id="toastPopup" data-theme="none" class="app-card-dialog ui-corner-all ui-shadow" data-position-to="window" data-transition="pop">
	<p class="popup_text">I am positioned to the window.</p>
</div>

</div>

<!-- End of D & T sections -->

{% endblock %}

{% block app_script %}

{% if isProd %}
<script data-main="/js/main" src="/js/require.js"></script>
{% else %}
<script data-main="/javascripts/main" src="/javascripts/libs/require/require.js"></script>
{% endif %}

{% endblock %}